{% extends './base.html' %}

<title>{%block title%}brol stars{%endblock%}</title>

{%block body%}
<h1>
    Brol
</h1>
<img src="{{ url_for('static', filename='img/jacky.gif') }}">

<p> Brawl Stars (abreviado BS) es un videojuego multijugador para móviles disponible en Android y iOS, desarrollado por Supercell y lanzado globalmente en 2018.1​ La versión beta del juego fue lanzada el 14 de junio de 2017 solo para Canadá, Australia y Nueva Zelanda con temáticas simples y mecánicas difíciles, mientras que la versión global se lanzó agregando u</p>
{%endblock%}    