{% extends "./base.html" %}

<title>{%block title%}Informacion{%endblock%}</title>

{%block body%}
<h1>
    Informacion
</h1>
<p>
    El gato doméstico1​2​ (Felis silvestris catus), llamado más comúnmente gato, y de forma coloquial minino,3​ michino,4​ michi,5​6​ micho,7​ mizo,8​ miz,9​ morroño,10​ morrongo,11​ mish,12​ o mishingo,13​ y algunos nombres más, es un mamífero carnívoro de la familia Felidae. Es una subespecie domesticada, por la convivencia con el ser humano, del gato montés.
</p>
<p>
El nombre actual en muchas lenguas proviene del latín vulgar catus. Paradójicamente, catus aludía a los gatos salvajes, mientras que los gatos domésticos eran llamados felis.
</p>
{%endblock%}    